@using EntityLayer.Concrete
@model List<UserMessageNew>
@{
    ViewData["Title"] = "SenderMessageList";
    Layout = "~/Views/Shared/AdminLayout2.cshtml";
}


<style>
    tr:hover {
        cursor: pointer;
    }
</style>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Mesajlar</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kime</th>
                            <th>Konu</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr onclick="window.location='/AdminMessage/SendMessageDetail/@item.ID';">
                                <td>@item.ID</td>
                                <td>@item.ReceiverName</td>
                                <td>@item.Subject</td>
                                <td>@Convert.ToDateTime(@item.Date).ToShortDateString()</td>
                                <td>
                                    <a href="/AdminMessage/SenderMessageDelete/@item.ID" class="btn btn-outline-danger"> Sil </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


